body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0082bd;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#navbar a:hover {
  background-color: #73e6e2;
}

#navbar.scrolled {
  background-color: #0a5ebd;
}

#navbar a.scrolled {
  color: #000000;
}

.design{
    text-align: center;
    padding: 20px;
    margin: 20px 20px 20px 20px;
}
